/* Variables */
:root {
    --colour-primary: #00a6fb;
    --colour-secondary: #0081a7;
    --colour-background-white: #c4c1c19d;
    --colour-background-light: #61a6d5;
    --colour-background-dark: #0a0a0a;
    --colour-text-light: white;
    --colour-text-dark: black;

    --width-max: 800px;

    --spacing-xs: 8px;
    --spacing-s: 10px;
    --spacing-m: 15px;
    --spacing-l: 20px;
    --spacing-xl: 40px;
    --spacing-xxl: 80px;

    --font-size-heading: 48px;
    --font-size-subheading: 24px;
    --font-size-body: 23px;
    --font-size-small: 18px;
    --font-weight-bold: bold;
    --font-family-body: Arial, sans-serif;

    --border-radius-s: 5px;
    --border-radius-m: 10px;
    --border-radius-l: 20px;

    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: var(--font-family-body);
    margin: 0;
    padding: 0;
    text-align: center;
}
