@import url("global.css");
@import url("header.css");
@import url("main.css");
@import url("button.css");
@import url("ask.css");
@import url("results.css");
@import url("search.css");
@import url("products.css");
@import url("footer.css");
